
<footer class="py-4 bg-dark text-white">
  <div class="container-fluid text-center">
    <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
      <img style="margin: 0 10px;" class="px-2" src="../../assets/svgs/Group 4009.svg" alt="Red de Vacunación Radar Jalisco">
      <img style="margin: 0 10px;" class="px-2" src="../../assets/svgs/Group 4023.svg" alt="Cuidarse es prevenir">
      <img style="margin: 0 10px;" class="px-2" src="../../assets/svgs/Group 3548.svg" alt="Servicios de Salud Jalisco">
      <img style="margin: 0 10px;" class="px-2" src="../../assets/svgs/Group 3999.svg" alt="Gobierno de México">
      <img style="margin: 0 10px;" class="px-2" src="../../assets/svgs/Group 3546.svg" alt="SEDENA">
      <img style="margin: 0 10px;" class="px-2" src="../../assets/imgs/Group 4112.png" alt="Atención médica de urgencias">
      <img style="margin: 0 10px;" class="px-2" src="../../assets/svgs/Group 5363.svg" alt="BIENESTAR">
    </div>
  </div>
</footer>
