<header class="bg-white shadow-md" style="position: relative; z-index: 500;">
  <div class="container mx-auto px-4 py-2 flex justify-between items-center">
    <div class="flex items-center">
      <img src="../../assets/svgs/logo_jaliscosedefiende.svg" alt="Jalisco Logo" class="h-16 ml-48 mr-4">
      <img src="../../assets/svgs/logo_jal.svg" alt="Jalisco Logo" class="h-12 ml-8">
    </div>
    <div class="navbar-links text-xl">
      <a href="#" class="text-md font-semibold align-middle mr-12">Calculadora</a>
      <a href="#" class="text-md font-semibold mr-48">
        <img src="../../assets/svgs/ico_avisoprivacidad.svg" alt="" class="align-middle">
        <span class="align-middle ml-1">Aviso de Privacidad</span>
      </a>
    </div>
  </div>
</header>
